@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

#burguer{
    display: none;
}

body{
    height: 100vh;
    background: url(imagens/back-print.jpg) no-repeat;
    backdrop-filter: blur(2px);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding-bottom: 20px;
}

header{
    background-color: rgba(147, 147, 147, 0.235);
    backdrop-filter: blur(5px);
    padding-bottom: 10px;
    padding-left: 20px;
}

header a {
    padding:5px; 
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 10px; 
    font-weight: 600;
}

a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.2s;

}

h1{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-decoration: aliceblue;
    text-align: center;
    padding: 20px 20px 10px 0px;
}

h2{
    padding-bottom: 20px;
    text-align: center;
}

main{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.263);
    margin: auto;
    max-width: 55vw;
    background-color: rgb(242, 255, 213);
    padding: 20px;
    border: 2px solid gray;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    *{
        text-align: left;
    }

    #burguer{
        display: block;
        text-align: center;
        background-color: white;
        padding: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    #burguer:hover{
        background-color: rgba(128, 128, 128, 0.607);
    }

    header{
        padding-left: 0;
    }

    menu{
        display: none;
    }

    h1{
        -webkit-text-stroke: 0;
        padding: 20px 0px 15px 0px;
    }

    header a{
        margin: auto;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        width: 60vw;
    }

    main{
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.689);
        max-width: 80vw;
    }
}