@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
}


h1{
    font-size: large;
    font-weight: 700;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px rgb(255, 255, 255);
    padding: 10px;
}